# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# IDE Editor folders
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env
# new
*.json
*.csv
*.log
shodan_output/

*.txt
!requirements.txt

# database files
*.db

# documentations
*.pdf
#apikeysgit status

.env